.navwrapper {
  width: 100%;
  background-color: crimson;
  position: fixed;
  top: 0;
  left: 0;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav {
  list-style-type: none;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}
.nav:hover {
  background-color: #eaeaea;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
}
.navlink {
  color: black;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}
